{% extends 'base.html' %}

{% block title %}Empleados | Borrar empleado{% endblock %}

{% block content %}
<div class="container my-5">
	<div class="card mx-auto" style="max-width: 650px;">
		<div class="card-header text-center">
			<h2>Eliminar empleado</h2>
			<div class="card-body">
				<p>¿Estás segura de que deseas eliminar a {{ employee.first_name }} {{ employee.last_name }}?</p>
				<form method="POST" action="">
					{% csrf_token %}
					<button type="submit" class="btn">
						ELIMINAR
					</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Float button back -->
	<div class="position-fixed" style="bottom: 20px; left: 20px;">
		<a href="{% url 'employee:list' %}" class="btn">VOLVER</a>
	</div>
</div>

{% endblock %}