{% extends "base.html" %}
{% load static %}

{% block title %}Cliente|Bonos | Editar bono{% endblock %}

{% block content %}
<div class="container my-5">
	<div class="card mx-auto" style="max-width: 600px; background-color: #d5c3d4;">
		<div class="card-header text-center">
			<h2>Modificar bono</h2>
			<div class="card-body">
				<form class="form" method="POST" action="{% url 'client:voucher_client_edit' voucher.id %}">
					{% csrf_token %}
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Cliente</label>
						<div class="col-sm-9">
							{{ form.client }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Bono</label>
						<div class="col-sm-9">
							{{ form.voucher }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Fecha de compra</label>
						<div class="col-sm-9">
							{{ form.purchase_date }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Caducidad</label>
						<div class="col-sm-9">
							{{ form.expiration_date }}
						</div>
					</div>
					<button class="btn" type="submit">MODIFICAR</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Float button back -->
	<div class="position-fixed" style="bottom: 20px; left: 20px;">
		<a href="{% url 'client:voucher_client_details' voucher.id %}" class="btn">VOLVER</a>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/select2.js' %}"></script>
{% endblock %}
