{% extends "base.html" %}

{% block title %}Stock | Añadir producto{% endblock %}

{% block content %}
<div class="container my-5">
	<div class="card mx-auto" style="max-width: 600px; background-color: #d5c3d4;">
		<div class="card-header text-center">
			<h2>Añadir nuevo producto</h2>
			<div class="card-body">
				<form action=""  method="POST">
					{% csrf_token %}
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Nombre</label>
						<div class="col-sm-9">
							{{ form.name }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Proveedor</label>
						<div class="col-sm-9">
							{{ form.supplier }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Precio</label>
						<div class="col-sm-9">
							{{ form.price }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Stock</label>
						<div class="col-sm-9">
							{{ form.stock }}
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-3 col-form-label text-start">Descripción</label>
						<div class="col-sm-9">
							{{ form.description }}
						</div>
					</div>
					<button class="btn" type="submit">AÑADIR</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Float button back -->
<div class="position-fixed" style="bottom: 20px; left: 20px;">
	<a href="{% url 'stock:supplier_list' %}" class="btn">VOLVER</a>
</div>
{% endblock %}

