{% extends "base.html" %}

{% block title %}Stock | Detalles del producto{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
	<h2>{{ product.name }}</h2>
	<div class="cart text-center">
		<div class="card-body">
			<div class="container my-5">
				<div class="card mx-auto" style="max-width: 600px; background-color: #d5c3d4;">
					<div class="card-body">
						<ul class="list-group list-group-horizontal">
							<li class="list-group-item flex-fill text-start" style="width: 25%; text-align: left;">
								<b>Producto</b>
							</li>
							<li class="list-group-item flex-fill text-center" style="width: 50%; text-align: right;">
								{{ product.name }}
							</li>
						</ul>
					<ul class="list-group list-group-horizontal">
						<li class="list-group-item flex-fill text-start" style="width: 25%; text-align: left;">
							<b>Proveedor</b>
						</li>
						<li class="list-group-item flex-fill text-center" style="width: 50%; text-align: right;">
							{{ product.supplier }}
						</li>
					</ul>
					<ul class="list-group list-group-horizontal">
						<li class="list-group-item flex-fill text-start" style="width: 25%; text-align: left;">
							<b>Precio</b>
						</li>
						<li class="list-group-item flex-fill text-center" style="width: 50%; text-align: right;">
							{{ product.price }}€
						</li>
					</ul>
					<ul class="list-group list-group-horizontal">
						<li class="list-group-item flex-fill text-start" style="width: 25%; text-align: left;">
							<b>Stock</b>
						</li>
						<li class="list-group-item flex-fill text-center" style="width: 50%; text-align: right;">
							{{ product.stock }}
						</li>
					</ul>
					<ul class="list-group list-group-horizontal">
						<li class="list-group-item flex-fill text-start" style="width: 25%; text-align: left;">
							<b>Descripción</b>
						</li>
						<li class="list-group-item flex-fill text-center" style="width: 50%; text-align: right;">
							{{ product.description }}
						</li>
					</ul>
					</div>
				</div>
				<div class="card-footer bg-transparent border-0 text-center">
					<!-- Button to modify -->
					<a href="{% url 'stock:product_edit' product.id %}" class="btn mx-1">
						<i class="bi bi-pencil-square"></i>Editar
					</a>
					<!-- Button to add or discount stock -->
					<a href="{% url 'stock:stock_create_movement' product.id %}" class="btn mx-1">
						<i class="bi bi-box-seam"></i>Stock
					</a>
					<!-- Button to delete -->
					<a href="{% url 'stock:product_delete' product.id %}" class="btn mx-1">
						<i class="bi bi-trash"></i>Eliminar
					</a>
				</div>
			</div>
		</div>
		<!-- Float button back -->
		<div class="position-fixed" style="bottom: 20px; left: 20px;">
			<a href="{% url 'stock:supplier_list' %}" class="btn">VOLVER</a>
		</div>
	</div>
</div>
{% endblock %}