{% extends 'base.html' %}

{% block title %}Stock | Búsqueda de un producto{% endblock %}

{% block content %}
<div class="container my-5">
	<div class="card mx-auto" style="max-width: 650px;">
		<div class="card-header text-center">
			<h4>Resultados de la búsqueda para "{{ query }}":</h4>
			<div class="card-body">
				{% if query and products %}
					<ul>
					{% for product in products %}
						<li class="mt-2" style="list-style-type: none;">
							<a href="{% url 'stock:product_details' product.id %}" style="font-size: 21px;"
								 class="link-body-emphasis link-offset-2 link-underline-opacity-0">
								{{ product.name }}
							</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<p>No se encontró ningún resultado que coincida con "{{ query }}".</p>
					<a href="{% url 'stock:supplier_list' %}" class="btn">VOLVER</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}