{% extends 'base.html' %}
{% load search %}
{% block title %}Servicios | Búsqueda de un servicio{% endblock %}

{% block content %}
<div class="container my-5">
	<div class="card mx-auto" style="max-width: 650px;">
		<div class="card-header text-center">
			<h4>Resultados de la búsqueda para "{{ query }}":</h4>
			<div class="card-body">
				{% if items %}
					<ul>
					{% for item in items %}
						<li class="mt-2" style="list-style-type: none;">
							{% if item|instanceof:"Service" %}
								<a href="{% url 'service:service_view' item.id %}" style="font-size: 21px;"
									 class="link-body-emphasis link-offset-2 link-underline-opacity-0">
									{{ item.name }}
								</a>
							{% elif item|instanceof:"Voucher" %}
								<a href="{% url 'service:voucher_details' item.id %}" style="font-size: 21px;"
									 class="link-body-emphasis link-offset-2 link-underline-opacity-0">
									{{ item.name }}
								</a>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<p>No se encontró ningún resultado que coincida con "{{ query }}".</p>
					<a href="{% url 'service:category_list' %}" class="btn">VOLVER</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}